*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav{
    display: flex;
    text-align: center;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgb(241, 210, 210);
    box-shadow: 2px 2px 40px 2px rgb(230, 179, 179);
    z-index: 1000000;
}
nav ul{
    text-decoration: none;
    display: flex;
    margin: 0 50px ;
    padding: 20px 0px 20px 0px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 15px 20px 15px 20px;
    transition: all 0.8s ease;
}
nav ul li a:hover{
    background-color: rgb(253, 205, 161) ;
    border-radius: 5px;
    padding: 5px;
}
.br{
    margin: 0 0 0 20px;
    align-items: center;
    list-style: none;
    display: flex;
}
.ev4{
    background: #000 url(/img/foto4.jpg);
}
.br .logo{
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 5px;
    margin: 0 0 0 20px;
}
.br .logo-a{
    margin: 0 0 0 5px;
    letter-spacing: 5px;
    padding: 15px 15px 15px 15px;
    transition: all 0,8s ease;
}
.br.logo-a:hover{
    background-color: rgb(253, 205, 161) ;
    border-radius: 5px;
}
.n1{
    width: 100%;
    height: 80vh;
    margin: 0 0 50px 0;
    
}
.n1 .foto{
    background: #000 url(/img/architect.jpg);
    width: 100%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.n1 .foto span{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    color: white;
    font-size: 30px;
}
.ev3{
    background: #000 url(/img/foto3.jpg);

}
.n1 .foto p{
    margin-left: 15px;
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
}
.text{
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04);
    width: 80%;
    margin: 50px auto;
    padding: 20px 20px 20px 0;
    font-size: 25px;
    display: flex;
}
.t2,.t3{
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04);
    width: 80%;
    margin: 70px auto;
    padding: 20px 20px 20px 0;
    font-size: 25px;
    display: flex;
}
.n2{
    width: 100%;
    margin: 0 0 50px 0;
}
.n2 .evfoto{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    gap: 25px;
}
.n2 .c{
    width: 23.5%;
    height: 240px;
}
.n2 .c span{
    background-color: #000;
    color: #fff;
    padding: 20px 20px 20px 20px;
    margin: 20px 0 20px 0;
    position: relative;
    top: 20px;
    left: 0;
}
.n3{
    width: 80%;
    margin: 50px auto;
}
/* bakıcaz */
.n3 span{
    letter-spacing: 2px;
}
.fotos{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.evfoto-2{
    background: #fff;
    padding: 20px;
    width: 340px;
    height: 370px;
}
.evfoto-2 .tt{
    background: #000 url(/img/grup4.jpg);
    width: 100%;
    height: 200px;
    margin: 0 auto 15px;
}
.evfoto-2 .title{
    font-size: 18px;
    font-weight: bold;
    color: #5f5b5b;
    margin-bottom: 5px;
}
.evfoto-2 .subtitle{
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;


}
.evfoto-2 .pr{
    font-size: 13px;
    color: #555;
    margin-top: 10px;
    line-height: 1.5;
}
.evfoto-2 .btn{
    background-color: #d8d4d4;
    color: rgb(252, 252, 252);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.8s ease;
    
}
.evfoto-2 .btn:hover{
    background-color: #ddd;
    color: #ddd;
}
.evfoto-2 .btn a{
    text-decoration: none;
    color: #000;
    transition: all 0.8s ease;
}
.evfoto-2 .btn a:hover{
    background-color: #000;
    color: white;
    border-radius: 5px;
}
.n4{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto;
}
.n4 span{
    font-size: 18px;
}
.n4 input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}
.n4 .btn{
    margin-top: 20px;
    background-color: #000;
    padding: 15px;
    transition: all 0.8 ease;
}
.n4 .btn:hover{
    background-color: #ce9d9d;
}
.n4 .btn a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.8 ease;
}
.n4 .btn a:hover{
    background-color: #ce9d9d;
    color: #727575;
}
footer{
    background-color: #000;
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
}
.text2{
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.04);
    font-size: 25px;
    width: 80%;
    margin: 50px auto;
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.text3{
    position: relative;left: 130px;top: 45px;
    font-size: large;
    font-size: x-large;
    
}
